# dependencies
node_modules
.pnp
.pnp.js

# production
dist
dist-ssr

# env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
*.log
npm-debug.log*
